<!-- @format -->
<link rel="stylesheet" href="/css/productDetails.css" />

<h1><%= store.storeName %></h1>

<label for="">Search Your Product </label>
<input type="text" id="searchBar" />
<button id="searchBtn"  value="<%=store.id%>">Search</button>

<div class="main-container">
  <% for(let i = 0; i < products.length; i++){%>
  <div class="product-body">
    <div class="card">
      <br><br>
      <img src="/image/<%=products[i].image%>" alt="image" width="100" />
      <br><br>
      <div class="header"><%= products[i].productName %></div>
      <div class="bodys">
        <div class="details">
          <div class="details-name">MRP: <%= products[i].mrp %></div>
        </div>
        <div class="details">
          <div class="details-name">SP: <%= products[i].sp %></div>
        </div>
        <div class="details">
          <div class="details-name">qty: <%= products[i].qty %></div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>

<script src="/javaScript/searchProduct.js"></script>
